/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 微軟正黑體;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	background: url(../images/bg.gif);
}
.clear{
  clear:both;
}
.wrap{
	width: 950px;
	margin: auto;
	//-webkit-box-shadow: 0px 5px 240px -70px rgba(102,102,102,0.75);
	//-moz-box-shadow: 0px 5px 240px -70px rgba(102,102,102,0.75);
	//box-shadow: 0px 5px 240px -36px rgba(102,102,102,0.75);
	background: #fff;
}
.left{
	width: 300px;
	//height: 60px;
	float: left;
	margin-top: 15px;
	margin-left: 20px;
}
.header{
	height: 50px;

}
.logo a{
	width: 300px;
	height: 60px;
	background: url('../images/logo.png');
	background-size: 100%;
	float: left;
	text-indent:-9999px;
	display: block;
}
.right{
	width: 500px;
	float: right;
	margin-top: 22px;
	margin-right: 20px;
}
.search{
	width: 230px;
	height: 21px;
	float: right;
	border: 1px solid #020c37;
}
.input{
	float: left;
}
.input a{
	background: #020c37;
	display: block;
	color: white;
	width: 57px;
	height: 19px;
	padding-top: 2px;
	text-decoration: none;
	text-align: center;
	float: right;
}
.user ul li{
	display: inline-block;
	//background: url('../images/icon.gif') 10px no-repeat;
	border-right: 1px solid #888;
}
.enterman{
	border-right: none !important ;
}
.user{
	width: 500px;
	height: 20px;
	padding: 10px 0 0 0;
	float: right;
	text-align: right;
}
.user li a{
	color: black;
	display: block;
	padding: 0 10px 0 10px;
	text-decoration: none; 
} 
.user li a:hover{
	color: #888888;
}
.navigation ul li{
	display: inline-block;
}
.navigation{
	height: 30px;
	text-align: center;
	margin-top: 5px;
	background: #020c37;
	padding-top: 5px;
	//border-top: 1px solid #737373;
	//border-bottom: 1px solid #737373;
	line-height: 8px;
}
.navigation li{
	width: 190px;
	height: 30px;
	float: left;
	position: relative;
}
.navigation li a{
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 10px 10px; 
} 
.navigation li > a:hover{
	color: #666;
}
.navigation li ul{
	display: none;
	float: left;
	left: 0;
	margin-top: 2px;
	list-style: none;
	position: absolute;
	background: #aaa;
	z-index: 50;
}
.navigation li:hover > ul{
	display: block;

}
.event{	
	width: 930px;
	height: 170px;
	position: relative;
	margin-top: 20px;
}
.event .slide{
	position: absolute;
	top: 0;
	left: 0;
	width: 950px;
	height: 200px;
	overflow: hidden;
}
.event .slide p {
	width: 329px;
	height: 169px;
	opacity: 0.5;
	right: 0;
	bottom: 0;
	font-size: 20px;
	text-align: left;
	position: absolute;
	z-index: 5;
	float: right;
	color: #fefefe;
	margin: 5px;
	line-height: 2em;
}
.img1 {
		animation: img1 40s infinite;
		-o-animation: img1 40s infinite;
		-moz-animation: img1 40s infinite;
		-webkit-animation: img1 40s infinite;
	}

@-webkit-keyframes img1 {
0% {opacity: 0;}
10% {opacity: 1;}
20% {opacity: 1;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@keyframes img1 {
0% {opacity: 0;}
10% {opacity: 1;}
20% {opacity: 1;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-moz-keyframes img1 {
0% {opacity: 0;}
10% {opacity: 1;}
20% {opacity: 1;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

	.img2 {
		animation: img2 40s infinite;
		-o-animation: img2 40s infinite;
		-moz-animation: img2 40s infinite;
		-webkit-animation: img2 40s infinite;
	}

	.img3 {
		animation: img3 40s infinite;
		-o-animation: img3 40s infinite;
		-moz-animation: img3 40s infinite;
		-webkit-animation: img3 40s infinite;
	}
	.img4 {
		animation: img4 40s infinite;
		-o-animation: img4 40s infinite;
		-moz-animation: img4 40s infinite;
	-webkit-animation: img4 40s infinite;
	}

	.img5 {
		animation: img5 40s infinite;
		-o-animation: img5 40s infinite;
		-moz-animation: img5 40s infinite;
		-webkit-animation: img5 40s infinite;
	}

/* keyframing */

@-webkit-keyframes img2 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 1;}
40% {opacity: 1;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@keyframes img2 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 1;}
40% {opacity: 1;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-moz-keyframes img2 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 1;}
40% {opacity: 1;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-webkit-keyframes img3 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 1;}
60% {opacity: 1;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@keyframes img3 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 1;}
60% {opacity: 1;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-moz-keyframes img3 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 1;}
60% {opacity: 1;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-webkit-keyframes img4 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 1;}
80% {opacity: 1;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@keyframes img4 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 1;}
80% {opacity: 1;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-moz-keyframes img4 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 1;}
80% {opacity: 1;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-webkit-keyframes img5 {
0% {opacity: 1;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 1;}
100% {opacity: 1;}
}

@keyframes img5 {
0% {opacity: 1;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 1;}
100% {opacity: 1;}
}

@-moz-keyframes img5 {
0% {opacity: 1;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 1;}
100% {opacity: 1;}
}
.announcement{
	margin-top: 20px;
	height: 270px;
}
.ann1{
	margin-left: 20px;
	height: 270px;
	float: left;
}
.ann1 h3{
	font-size: 1.5em;
	width: 300px;
	color: #020c37;
	font-weight: bold;
}
.post{
	width: 300px;
	height: 233px;
	background: #dcdcdc;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
	background: #fff;
	padding-top: 10px;
}
.post a{
	text-decoration: none;
	line-height: 20px;
	color: black;
}
.post a:hover{
	color: #666;
}
.post span{
	width: 300px;
	height: 30px;
	display: block;
	margin-top: 10px;
	line-height: 10px;
}
.ann2{
	margin-left: 20px;
	height: 270px;
	float: left;
}
.ann2 h3{
	font-size: 1.5em;
	width: 300px;
	color: #FFA600;
	font-weight: bold;
}
.ann_info{
	width: 300px;
	height: 233px;
	background: #dcdcdc;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
	background: #fff;
	padding-top: 10px;
}
.ann_info a{
	text-decoration: none;
	line-height: 20px;
	color: black;
}
.ann_info a:hover{
	color: #666;
}
.ann_info span{
	width: 280px;
	height: 40px;
	display: block;
	margin-top: 10px;
	line-height: 10px;
}
.calendar{
	float: right;
	border: 1px solid #696969;
	margin-right: 15px;
	margin-top: 25px;
}
.news{
	margin-bottom: 20px;
	margin-top: 20px;
	border-top: 1px dashed #696969;
}
.newsbox{
	width: 300px;
	height: 480px;
	float: left;
	margin-left: 10px;
	//background: #e0ffff;
	//border: 1px solid #cbcbcb;
}
.newsbox a{
	text-decoration: none;
	color: #aa0000;	
}
.newsbox a:hover{
	color: #666;
}
.newsbox h2{
	font: bold 1.1em Helvetica, sans-serif;
	line-height: 1.1em;
	//margin: 0 0 10px 0;
	padding: 15px;
}
.newsbox p{
	font-size: 0.9em;
	padding: 15px;
}
.newsbox img{
	padding: 20px;
	width: 270px;
	height: 250px;
}
.link ul li{
	display: inline-block;
}
.link{	
	height: 145px;
	text-align: center;
	margin-top: 30px;
	border-top: 1px dashed #696969;
	padding-left: 10px;
	position: relative;
}
.link img{
	float: left;
	width: 22px;
	height: 22px;
	padding-right: 5px;
}
.link p{
	text-align: left;
	font-size: 1.3em;
	margin-top: 20px;
	font-weight: bold;
}
.link li{
	width: 200px;
	height: 40px;
	margin-top: 8px;
}
.link li a{
	color: black;
	display: block;
	text-decoration: none;
	padding: 8px 20px; 
	background: url('../images/arrow.png') 0.5px no-repeat;
} 
.link li a:hover{
	color: #888888;
}
.footer{
	line-height: 1.42em;
	font-size: 0.8em;
	text-align: center;
	background: #020c37;
	margin-top: 10px;
	padding: 10px;
	color: #fff;
	position: relative;
　	margin-top: -100px;
}
.important{
	width: 600px;
	float: left;
	background-color: #F5FFFA;
	padding-top: 5px;
	margin-top: 13px;
	margin-left: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
}
.important span{
	width: 600px;
	font-size: 22px;
	font-weight: bold;
	position: relative;
	float: left;
	margin-bottom: 10px;
	color: #009FCC;
}
.time{
	width: 180px;
	position: relative;
	float: left;
	//background: #EEFFBB;
}
.time li{
	font-size: 18px;
	line-height: 30px;
	border-bottom: 1px solid #000;
}
.schedule{
	width: 400px;
	position: relative;
	float: left;
	//background-color: #9999FF;
}
.schedule li{
	font-size: 18px;
	line-height: 30px;
	border-bottom: 1px solid #000;
}
.schedule li a{
	text-decoration: none;
	color: #000;
}
.schedule li a:hover{
	color: #0000CC;
}
.usual_link{
	width: 300px;
	//height: 60px;
	//border-style: double;
	//border-width: 1px;
	//border-color: #000;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	padding-bottom: 13px;
	background-color: #ffffcc;
}
.usual_link p{
	font-size: 22px;
	position: relative;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	font-weight: bold;
	color: #FFAA33;
}
.usual_link ul{
	width: 230px;
	position: relative;
	float: left;
	margin-left: 50px;
	margin-bottom: 20px;
	
}
.usual_link ul li{
	width: 195px;
	position: relative;
	float: left;
	font-size: 18px;
	margin-top: 20px;
}
.usual_link ul li a{
	position: relative;
	float: left;
	text-decoration: none;
	color: #000;
	padding-left: 15px;
	background: url('../images/icon.gif') 0.5px no-repeat; 
}
.usual_link li a:hover{
	color: #888888;
}
.id{
	height: 30px;
	position: relative;
	float: left;
	//background-color: #888;
	margin-top: 20px;
	margin-left: 12px;
}
.id span{
	font-size: 30px;
	color: #888888;
	font-weight: bold;
	
}
.frame{
	width: 930px;
	height: 300px;
	margin: 0 auto;
	margin-top: 15px;
	padding-top: 10px;
	//background-color: #00BBFF;
	border-top: 1px dashed #000;
}
.bar{
	position: relative;
	float: left;
	width: 300px;
	//background-color: #FFFF00;
	margin-left: 10px;
}
.bar img{
	position: relative;
	width: 185px;
}
.bar ul{
	position: relative;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	list-style-position: inside;
	list-style-image: url(../images/icon.gif);
	//background-color: #33FF33;

}
.bar li{
	width: 280px;
	position: relative;
	float: left;
	line-height: 3em;
	padding-left: 1px;
	font-size: 16px;
}
.bar li a{
	text-decoration: none;
	color: #000;
}